.projects-container {
  width: 100%;
  max-width: 1000px;
}

.projects-content {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.project-card {
  width: 100%;
  max-width: 322px;

  position: relative;
  overflow: hidden;

  padding: 0 0 5rem 0;
  border-radius: 0.5rem;

  box-shadow: 0 0 0.5rem 0 var(--gray8);
}

.project-card > img {
  width: 100%;
  height: 180px;

  display: flex;

  margin-bottom: 1.2rem;

  box-shadow: 2px 2px 5px var(--gray8);
}

.project-card > h3 {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0 0.5rem;
  margin-bottom: 0.2rem;

  text-shadow: 2px 2px 5px var(--gray9);
}

.project-card > p {
  padding: 0 0.5rem;
  margin-bottom: 0.5rem;
}

.project-card > button {
  position: absolute;
  bottom: 3rem;

  font-size: 1rem;
  font-weight: 500;
  padding: 0.2rem 0.5rem;
  border-radius: 0 0.3rem 0.3rem 0;

  transition: .3s ease;

  box-shadow: 0 0 0.5rem 0 var(--gray8);
  color: var(--white9);
  background: var(--blue9);
}
.project-card > button:hover {
  letter-spacing: 0.03rem;
  color: var(--black9);
  background: var(--blue8);
}

.project-card > a {
  display: flex;
  align-items: center;
  gap: 0.2rem;

  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;

  transition: .3s ease;

  font-weight: 600;
}
.project-card > a:hover { transform: translateX(-3px); }
.project-card > a img {
  width: 1.5rem;
  height: 1.5rem;
}

@media (max-width: 1045px) {
  .projects-container {
    padding: 0 1rem;
  }
}