@import url('../config/colors.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  outline: none;
  text-decoration: none;
  border: none;
  list-style: none;

  font-family: 'Poppins', 'Montserrat', 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 400;
}

html { scroll-behavior: smooth; }

body { -webkit-font-smoothing: antialiased; }

a,
button {
  cursor: pointer;
}
a { color: var(--black9); }


/* CHANGING DEFAULT ICON TO LIST-STYLE */
/* @counter-style diamond {
  system: cyclic;
  symbols: ◈;
  suffix: " ";
}
ul {
  list-style: diamond;
  color: var(--white9);
} */


/* CONTAINER */
.container {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8rem;
}


/* MAIN */
main {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}


/* SECTIONS TITLE */
.section-title {
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.5rem;

  text-shadow: 2px 2px 5px var(--gray9);
}


/* BACK TO TOP */
#backToTopBtn {
  width: 2.8rem;
  height: 2.8rem;

  display: none;
  justify-content: center;
  align-items: center;

  transition: transform 0.1s ease;
  position: fixed;
  right: 2rem;
  bottom: 2rem;

  font-size: 2rem;
  border-radius: 50%;

  box-shadow: 2px 3px 3px var(--gray7);
}
#backToTopBtn:hover {
  transform: scale(1.1);
  color: var(--blue9)
}
#backToTopBtn.open { display: flex; }


/* PAGE SCROLL */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  transition: .3s ease;
}
::-webkit-scrollbar-track {
  border-radius: 0.5rem;
  background: var(--gray8);
}
::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background: var(--black7);
}
::-webkit-scrollbar-thumb:hover { background: var(--black8); }


/* CONTACT FORM */
.missing-form-values-container {
  width: 100%;
  max-width: 220px;

  display: none;
  justify-content: center;
  align-items: center;

  position: fixed;
  right: 3rem;
  bottom: 3rem;

  opacity: 0;
  transition: .3s ease;

  padding: 1rem;
  border-radius: 0.5rem;

  box-shadow: 0 0 0.5rem 0 var(--gray7);
  background: var(--white9);
}
.missing-form-values-container.open-missing-form-message {
  display: flex;
  opacity: 1;
}

.missing-form-message {
  font-weight: 500;
  text-align: center;

  color: var(--black9);
}


/* ANIMATIONS */
@keyframes fade-down {
  0% { opacity: 0; transform: translateY(-30px) scale(0.9); }
  100% { opacity: 1; transform: translateY(0px) scale(1); }
}

@keyframes fade-up {
  0% { opacity: 0; transform: translateY(30px) scale(0.9); }
  100% { opacity: 1; transform: translateY(0px) scale(1); }
}


/* RESPONSIVE LAYOUT */
@media (max-width: 1080px) {
  html { font-size: 93.75%; }
}

@media (max-width: 720px) {
  html { font-size: 87.5%; }
}