:root {
  --white9: #FFFFFF;

  --black9: #000000;
  --black8: #121212;
  --black7: #2A2A2A;
  --black6: #000000DD;

  --gray9: #A4A0A0;
  --gray8: #D9D9D9;
  --gray7: #D1D1D1;
  --gray6: #F1F1F1;

  --blue9: #1FA6E5;
  --blue8: #50D9FF;
  --blue7: #03f9fd;

  --purple9: #B39CD0;
}
